input {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #323232;
	padding-left: 18px;
	box-sizing: border-box;
	border: 1px solid gray;
	margin: 0 0;
	border-radius: 2px;
}
input:focus {
	outline: none;
}
input::placeholder {
	color: gray;
}
img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
}
h5 {
	margin: 0px;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}
.app-photos {
	text-align: center;
}
.findCard {
	margin-top: 50px;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
}
.card {
	box-sizing: border-box;
	position: relative;
	width: 250px;
	height: 250px;
	margin: 10px 10px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
.discard {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	background-color: white;
	padding-top: 30px;
}
